In [1]:
# Dependencies
import pandas as pd
file = "Resources/Minimum Wage Data.csv"
wage_df = pd.read_csv(file, encoding="ISO-8859-1")
state_df = pd.read_csv("Resources/state_lat_long.csv", encoding="ISO-8859-1")

In [2]:
wage_df["High.Value"].fillna(0.00, inplace = True) 
#wage_df[(wage_df["State"] == "U.S. Virgin Islands")]

In [3]:
state_df

                   State   Latitude   Longitude
0                Alabama  32.806671  -86.791130
1                 Alaska  61.370716 -152.404419
2                Arizona  33.729759 -111.431221
3               Arkansas  34.969704  -92.373123
4             California  36.116203 -119.681564
5               Colorado  39.059811 -105.311104
6            Connecticut  41.597782  -72.755371
7               Delaware  39.318523  -75.507141
8   District of Columbia  38.897438  -77.026817
9                Florida  27.766279  -81.686783
10               Georgia  33.040619  -83.643074
11                Hawaii  21.094318 -157.498337
12                 Idaho  44.240459 -114.478828
13              Illinois  40.349457  -88.986137
14               Indiana  39.849426  -86.258278
15                  Iowa  42.011539  -93.210526
16                Kansas  38.526600  -96.726486
17              Kentucky  37.668140  -84.670067
18             Louisiana  31.169546  -91.867805
19                 Maine  44.693947  -69.381927
20              Maryland  39.063946  -76.802101
21         Massachusetts  42.230171  -71.530106
22              Michigan  43.326618  -84.536095
23             Minnesota  45.694454  -93.900192
24           Mississippi  32.741646  -89.678696
25              Missouri  38.456085  -92.288368
26               Montana  46.921925 -110.454353
27              Nebraska  41.125370  -98.268082
28                Nevada  38.313515 -117.055374
29         New Hampshire  43.452492  -71.563896
30            New Jersey  40.298904  -74.521011
31            New Mexico  34.840515 -106.248482
32              New York  42.165726  -74.948051
33        North Carolina  35.630066  -79.806419
34          North Dakota  47.528912  -99.784012
35                  Ohio  40.388783  -82.764915
36              Oklahoma  35.565342  -96.928917
37                Oregon  44.572021 -122.070938
38          Pennsylvania  40.590752  -77.209755
39          Rhode Island  41.680893  -71.511780
40        South Carolina  33.856892  -80.945007
41          South Dakota  44.299782  -99.438828
42             Tennessee  35.747845  -86.692345
43                 Texas  31.054487  -97.563461
44                  Utah  40.150032 -111.862434
45               Vermont  44.045876  -72.710686
46              Virginia  37.769337  -78.169968
47            Washington  47.400902 -121.490494
48         West Virginia  38.491226  -80.954453
49             Wisconsin  44.268543  -89.616508
50               Wyoming  42.755966 -107.302490

In [4]:
wage_df_clean = wage_df[["Year", "State", "High.Value", "CPI.Average", "High.2018"]].copy()
wage_df_clean.rename(columns = {"Year": "Year", "State": "State",'High.Value':'Minimum Wage', 'CPI.Average':'CPI Average', 
                              'High.2018':'Wage equivalent in 2018'}, inplace = True) 
wage_df_clean["Minimum Wage"] = wage_df_clean["Minimum Wage"].map("{:,.2f}".format)
wage_df_clean

      Year          State Minimum Wage  CPI Average  Wage equivalent in 2018
0     1968        Alabama         0.00    34.783333                     0.00
1     1968         Alaska         2.10    34.783333                    15.12
2     1968        Arizona         0.66    34.783333                     4.75
3     1968       Arkansas         0.16    34.783333                     1.12
4     1968     California         1.65    34.783333                    11.88
...    ...            ...          ...          ...                      ...
2745  2017       Virginia         7.25   245.119583                     7.41
2746  2017     Washington        11.00   245.119583                    11.24
2747  2017  West Virginia         8.75   245.119583                     8.94
2748  2017      Wisconsin         7.25   245.119583                     7.41
2749  2017        Wyoming         5.15   245.119583                     5.26

[2750 rows x 5 columns]

In [5]:
#fed_wage_def = {"1968":"1.60"},{"1969":"1.60"},{"1970":"1.60"},{"1971":"1.60"},{"1972":"1.60"},{"1973":"1.60"},{"1974":"2.00"},{"1975":"2.10"},{"1976":"2.30"},{"1977":"2.30"},{"1978":"2.65"},{"1979":"2.90"},{"1980":"3.10"},{"1981":"3.35"},{"1982":"3.35"},{"1983":"3.35"},{"1984":"3.35"},{"1985":"3.35"},{"1986":"3.35"},{"1987":"3.35"},{"1988":"3.35"},{"1989":"3.35"},{"1990":"3.80"},{"1991":"4.25"},{"1992":"4.25"},{"1993":"4.25"},{"1994":"4.25"},{"1995":"4.25"},{"1996":"4.75"},{"1997":"5.15"},{"1998":"5.15"},{"1999":"5.15"},{"2000":"5.15"},{"2001":"5.15"},{"2002":"5.15"},{"2003":"5.15"},{"2004":"5.15"},{"2005":"5.15"},{"2006":"5.15"},{"2007":"5.85"},{"2008":"6.55"},{"2009":"7.25"},{"2010":"7.25"},{"2011":"7.25"},{"2012":"7.25"},{"2013":"7.25"},{"2014":"7.25"},{"2015":"7.25"},{"2016":"7.25"},{"2017":"7.25"}
fed_wage_eqvt_2018 ={1968:11.55,1969:10.95,1970:10.36,1971:9.93,1972:9.62,1973:9.05,1974:10.19,1975:9.81,1976:10.16,1977:9.54,1978:10.21,1979:10.04,1980:9.45,1981:9.26,1982:8.72,1983:8.45,1984:8.10,1985:7.82,1986:7.68,1987:7.41,1988:7.11,1989:6.79,1990:7.3,1991:7.84,1992:7.61,1993:7.39,1994:7.25,1995:7.01,1996:7.61,1997:8.06,1998:7.94,1999:7.77,2000:7.51,2001:7.31,2002:7.19,2003:7.03,2004:6.85,2005:6.62,2006:6.42,2007:7.09,2008:7.64,2009:8.49,2010:8.35,2011:8.10,2012:7.93,2013:7.82,2014:7.69,2015:7.68,2016:7.59,2017:7.43}
fed_wage_def ={1968:1.60,1969:1.60,1970:1.60,1971:1.60,1972:1.60,1973:1.60,1974:2.00,1975:2.10,1976:2.30,1977:2.30,1978:2.65,1979:2.90,1980:3.10,1981:3.35,1982:3.35,1983:3.35,1984:3.35,1985:3.35,1986:3.35,1987:3.35,1988:3.35,1989:3.35,1990:3.80,1991:4.25,1992:4.25,1993:4.25,1994:4.25,1995:4.25,1996:4.75,1997:5.15,1998:5.15,1999:5.15,2000:5.15,2001:5.15,2002:5.15,2003:5.15,2004:5.15,2005:5.15,2006:5.15,2007:5.85,2008:6.55,2009:7.25,2010:7.25,2011:7.25,2012:7.25,2013:7.25,2014:7.25,2015:7.25,2016:7.25,2017:7.25}

In [6]:
for i, wage in enumerate(wage_df_clean["Minimum Wage"]):
    if (wage == "0.00"):
       wage_df_clean.loc[i,'Minimum Wage'] = fed_wage_def[wage_df_clean.loc[i,"Year"]]
       wage_df_clean.loc[i,'Wage equivalent in 2018'] = fed_wage_eqvt_2018[wage_df_clean.loc[i,"Year"]]

In [7]:
import requests
pvt_data = []
url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEPOVRTALL_PT&for=state&time="
for i in range(1998,2018):
    pvt_response = requests.get(url + str(i)).json()
   
    for y in range(1,len(pvt_response)):
         pvt_data.append([pvt_response[y][2], pvt_response[y][0], pvt_response[y][1]] )
pvt_df = pd.DataFrame(pvt_data)

In [8]:
wage_df_clean = pd.merge(state_df, wage_df_clean, how='outer', on='State')

In [9]:
pvt_df.rename(columns = {0:'Year', 1:'State',2:"Poverty Rate"}, inplace = True)
pvt_df['Year'] = pvt_df['Year'].astype(int)
final_data = pd.merge(wage_df_clean, pvt_df, how='outer', on=['Year', 'State'])
#wage_df_clean
#pvt_df
final_data = final_data[final_data['State'] != 'Guam']
final_data = final_data[final_data['State'] != 'Federal (FLSA)']
final_data = final_data[final_data['State'] != 'Puerto Rico']
final_data = final_data[final_data['State'] != 'U.S. Virgin Islands']
#| (final_data[final_data['State'] != "Federal (FLSA)"]))
final_data[(final_data['Year'] == 2017)]
#pvt_df[(pvt_df['Year'] == 2017)]

,State,Latitude,Longitude,Year,Minimum Wage,CPI Average,Wage equivalent in 2018,Poverty Rate
49,Alabama,32.806671,-86.791130,2017,7.25,245.119583,7.43,16.9
99,Alaska,61.370716,-152.404419,2017,9.80,245.119583,10.01,11
149,Arizona,33.729759,-111.431221,2017,10.00,245.119583,10.22,14.9
199,Arkansas,34.969704,-92.373123,2017,8.50,245.119583,8.68,16.3
249,California,36.116203,-119.681564,2017,10.00,245.119583,10.22,13.3
299,Colorado,39.059811,-105.311104,2017,9.30,245.119583,9.50,10.3
349,Connecticut,41.597782,-72.755371,2017,10.10,245.119583,10.32,9.7
399,Delaware,39.318523,-75.507141,2017,8.25,245.119583,8.43,13
449,District of Columbia,38.897438,-77.026817,2017,11.50,245.119583,11.75,16.6
499,Florida,27.766279,-81.686783,2017,8.10,245.119583,8.27,14.1
549,Georgia,33.040619,-83.643074,2017,5.15,245.119583,5.26,15.1
599,Hawaii,21.094318,-157.498337,2017,9.25,245.119583,9.45,9.5
649,Idaho,44.240459,-114.478828,2017,7.25,245.119583,7.41,12.6
699,Illinois,40.349457,-88.986137,2017,8.25,245.119583,8.43,12.5
749,Indiana,39.849426,-86.258278,2017,7.25,245.119583,7.41,13.3
799,Iowa,42.011539,-93.210526,2017,7.25,245.119583,7.41,10.8
849,Kansas,38.526600,-96.726486,2017,7.25,245.119583,7.41,11.9
899,Kentucky,37.668140,-84.670067,2017,7.25,245.119583,7.41,17.1
949,Louisiana,31.169546,-91.867805,2017,7.25,245.119583,7.43,19.6
999,Maine,44.693947,-69.381927,2017,9.00,245.119583,9.19,11.3
1049,Maryland,39.063946,-76.802101,2017,8.75,245.119583,8.94,9.4
1099,Massachusetts,42.230171,-71.530106,2017,11.00,245.119583,11.24,10.5
1149,Michigan,43.326618,-84.536095,2017,8.90,245.119583,9.09,14.1
1199,Minnesota,45.694454,-93.900192,2017,9.50,245.119583,9.70,9.5
1249,Mississippi,32.741646,-89.678696,2017,7.25,245.119583,7.43,19.9
1299,Missouri,38.456085,-92.288368,2017,7.70,245.119583,7.87,13.4
1349,Montana,46.921925,-110.454353,2017,8.15,245.119583,8.33,12.7
1399,Nebraska,41.125370,-98.268082,2017,9.00,245.119583,9.19,10.7
1449,Nevada,38.313515,-117.055374,2017,8.25,245.119583,8.43,13.3
1499,New Hampshire,43.452492,-71.563896,2017,7.25,245.119583,7.41,7.7
1549,New Jersey,40.298904,-74.521011,2017,8.44,245.119583,8.62,10
1599,New Mexico,34.840515,-106.248482,2017,7.50,245.119583,7.66,19
1649,New York,42.165726,-74.948051,2017,9.70,245.119583,9.91,14.1
1699,North Carolina,35.630066,-79.806419,2017,7.25,245.119583,7.41,14.7
1749,North Dakota,47.528912,-99.784012,2017,7.25,245.119583,7.41,10.2
1799,Ohio,40.388783,-82.764915,2017,8.15,245.119583,8.33,13.9
1849,Oklahoma,35.565342,-96.928917,2017,7.25,245.119583,7.41,15.8
1899,Oregon,44.572021,-122.070938,2017,9.75,245.119583,9.96,13.2
1949,Pennsylvania,40.590752,-77.209755,2017,7.25,245.119583,7.41,12.5
1999,Rhode Island,41.680893,-71.511780,2017,9.60,245.119583,9.81,12.3
2049,South Carolina,33.856892,-80.945007,2017,7.25,245.119583,7.43,15.4
2099,South Dakota,44.299782,-99.438828,2017,8.65,245.119583,8.84,12.8
2149,Tennessee,35.747845,-86.692345,2017,7.25,245.119583,7.43,15
2199,Texas,31.054487,-97.563461,2017,7.25,245.119583,7.41,14.7
2249,Utah,40.150032,-111.862434,2017,7.25,245.119583,7.41,9.7
2299,Vermont,44.045876,-72.710686,2017,10.00,245.119583,10.22,10.8
2349,Virginia,37.769337,-78.169968,2017,7.25,245.119583,7.41,10.7
2399,Washington,47.400902,-121.490494,2017,11.00,245.119583,11.24,11
2449,West Virginia,38.491226,-80.954453,2017,8.75,245.119583,8.94,18.5
2499,Wisconsin,44.268543,-89.616508,2017,7.25,245.119583,7.41,11.3
2549,Wyoming,42.755966,-107.302490,2017,5.15,245.119583,5.26,10.8

In [10]:
final_data.to_csv("Resources/Minimum_Wage_and_poverty_data.csv", index=False, header=True)